<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body class="container">
        {{>header}}
        <h1>About - {{name}}</h1>
        <button type="button" class="btn btn-danger">{{title}}</button></br>
        </br>
    {{>footer}}
    </body>
</html>